<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="search" href="http://wongjinfa.wikispaces.com/space/opensearch" type="application/opensearchdescription+xml" title="Wikispaces Search (wongjinfa Wiki)">
    <link rel="alternate" type="application/x-wiki" title="Edit This Page" href="/page/edit/home">
    <link rel="alternate" title="wongjinfa : home - Edits" href="http://wongjinfa.wikispaces.com/page/xml/home?v=rss_2_0" type="application/rss+xml">
    <link rel="alternate" title="wongjinfa : home - Discussion" href="http://wongjinfa.wikispaces.com/message/xml/home?v=rss_2_0" type="application/rss+xml">
    <link rel="alternate" title="wongjinfa - All Changes" href="http://wongjinfa.wikispaces.com/wiki/xmla?v=rss_2_0" type="application/rss+xml">
    <link rel="microsummary" href="/page/microsummary/home/edits">
    <link rel="microsummary" href="/page/microsummary/home/messages">
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript">
        if (typeof ws === 'undefined') ws = {};
        ws.context = {
            instance: {
                id: '1',
                url: 'wikispaces.com',
                isMain: true,
                supportsGoogleDocs: false,
                isTesClassroom: false,
            },
            user: {
                id: '',
                username: '',
                status: '',
                locale: 'en_US',
                imageUrlPrefix: 'http://www.wikispaces.com/i/user_none_',
                isTeacher: false,
                canAdministerWiki: false,
            },
            wiki: {
                id: '23114257',
                name: 'wongjinfa',
                text: 'wongjinfa',
                module: 'E',
                isClassroom: false,
                isTesClassroom: false,
                defaultSpaceId: 23849241,
                isWwwWiki: false
            },
            project: {
                id: '23743993',
                name: ''
            },
            space: {
                id: '23849241',
                name: 'wongjinfa',
                isDefaultSpace: true,
                isDefaultTemplate: false
            },

            environment_name: 'prod',

            path: {
                object: 'page',
                method: 'view',
                page: 'home',
                id: ''
            },

            settings: {
                main_domain: 'wikispaces.com',
                session_url: 'https://session.wikispaces.com/1/',
                asset_url_prefix: 'http://www.wikispaces.com',
                beta_features: false,
                isMobileSite: false,
                isUploadCapable: true,
                can_discuss: false,
                has_gdocs: false,
                isDialog: false,
                pwin: ''
            },
            clockSkewMillis: 1520989862765 - ((window.performance && window.performance.timing.responseStart > 0) ? window.performance.timing.responseStart : (new Date()).getTime())
        }

        // legacy javascript API variables, use the above instead
        var wikispaces_isUserLoggedIn = !!ws.context.user.id;
        var wikispaces_isMain = ws.context.instance.isMain;
        var wikispaces_username = ws.context.user.username;
        var wikispaces_spaceName = ws.context.space.name;
        var wikispaces_projectName = ws.context.project.name;
        var wikispaces_wikiName = ws.context.wiki.name;
        var wikispaces_wikiText = ws.context.wiki.text;
        var wikispaces_isDefaultSpace = ws.context.space.isDefaultSpace;
        var wikispaces_method = ws.context.path.method;
        var wikispaces_object = ws.context.path.object;
        var wikispaces_page = ws.context.path.page;
        var wikispaces_id = ws.context.path.id;
        var wikispaces_domain = ws.context.instance.url;
        var wikispaces_isUserOrganizer = false;
        var wikispaces_main_domain = ws.context.settings.asset_url_prefix;
        var wikispaces_asset_url_prefix = ws.context.settings.asset_url_prefix;
        var wikispaces_beta_features = ws.context.settings.beta_features;
        var wikispaces_isMobileSite = ws.context.settings.isMobileSite;
        var wikispaces_isUploadCapable = ws.context.settings.isUploadCapable;
        var wikispaces_can_discuss = ws.context.settings.can_discuss;
        var wikispaces_has_gdocs = ws.context.settings.has_gdocs;
    </script>
    <title>Wong Jinfa Wikispace</title>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="144x144" href="http://www.wikispaces.com/_/z6371z4x/i/logo-144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://www.wikispaces.com/_/j5j77xz3/i/logo-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://www.wikispaces.com/_/vq8j5432/i/logo-72.png">
    <link rel="apple-touch-icon" href="http://www.wikispaces.com/_/38515190/i/logo-57.png">
    <link rel="shortcut icon" href="http://www.wikispaces.com/_/55v9k02z/i/logo-16.png">
    <style type="text/css">
        /* Standard theme styles */
        
        *,
        *:before,
        *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
        }
        
        .ws-theme-header-inner,
        .ws-theme-body-inner,
        .ws-theme-footer-inner,
        .ws-theme-content-inner,
        .ws-theme-sidebar-inner {
            position: relative;
        }
        
        .ws-theme-header-inner:after,
        .ws-theme-body-inner:after,
        .ws-theme-footer-inner:after,
        .ws-theme-content-inner:after,
        .ws-theme-sidebar-inner:after,
        .ws-theme-menu-inner:after {
            content: " ";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
        
        .ws-theme-content,
        .ws-theme-sidebar {
            overflow-x: auto;
        }
        
        .ws-theme-footer {
            text-align: right;
        }
        
        .ws-theme-footer a,
        .ws-theme-footer a:hover {
            text-decoration: none;
        }
        
        @media (min-width: 768px) {
            .ws-theme-container {
                width: 750px;
                margin-right: auto;
                margin-left: auto;
            }
            .ws-theme-content {
                width: 550px;
                min-height: 384px;
                float: right;
            }
            .ws-theme-sidebar {
                width: 200px;
                float: left;
            }
        }
        
        @media (min-width: 992px) {
            .ws-theme-container {
                width: 970px;
            }
            .ws-theme-content {
                width: 770px;
                min-height: 496px;
            }
        }
        
        @media (min-width: 1200px) {
            .ws-theme-container {
                width: 1170px;
            }
            .ws-theme-content {
                width: 970px;
                min-height: 600px;
            }
        }
        /* End standard theme styles */
    </style>
    <style type="text/css">
        /* Theme-specific styles */
        
        body {
            background-color: #AAA;
        }
        
        .ws-theme-container {
            margin: 0 5px;
        }
        
        .ws-theme-header .WikiSearch .WikiSearchInput,
        .ws-theme-sidebar .WikiSearch .WikiSearchInput,
        .ws-theme-footer .WikiSearch .WikiSearchInput {
            width: 100%;
        }
        
        .ws-theme-header,
        .ws-theme-footer {
            color: <$WikiMenuColor$>;
        }
        
        .ws-theme-header a,
        .ws-theme-footer a {
            color: inherit;
            text-decoration: none;
        }
        
        .ws-theme-sidebar {
            color: #000;
        }
        
        .ws-theme-sidebar a {
            color: #ddf8ff;
            text-decoration: none;
        }
        
        .ws-theme-header a:hover,
        .ws-theme-sidebar a:hover,
        .ws-theme-footer a:hover {
            text-decoration: underline;
        }
        
        .ws-theme-header img,
        .ws-theme-sidebar img,
        .ws-theme-footer img {
            border: none;
        }
        
        .ws-theme-header,
        .ws-theme-sidebar {
            display: none;
        }
        
        .ws-theme-content {
            overflow-x: visible;
        }
        
        .ws-theme-content-inner {
            background-color: #FFF;
            padding: 20px;
        }
        
        .ws-theme-footer {
            text-align: center;
        }
        
        .ws-theme-footer-inner {
            background: <$WikiMenuColor$> url();
            padding: 15px;
        }
        
        .ws-theme-footer .WikiLicense img {
            vertical-align: text-bottom;
        }
        
        @media (min-width: 768px) {
            body {
                background-color: #d4e0eb;
            }
            .ws-theme-container {
                position: relative;
                margin: 0 auto;
                border: none;
            }
            .ws-theme-container:before {
                box-shadow: -15px 0 15px -15px rgba(0, 0, 0, .625) inset;
                content: " ";
                height: 100%;
                position: absolute;
                top: 0;
                left: -15px;
                width: 15px;
            }
            .ws-theme-container:after {
                box-shadow: 15px 0 15px -15px rgba(0, 0, 0, .625) inset;
                content: " ";
                height: 100%;
                position: absolute;
                top: 0;
                right: -15px;
                width: 15px;
            }
            .ws-theme-header,
            .ws-theme-sidebar {
                display: block;
            }
            .ws-theme-header-inner {
                color: #FFF;
                background: #c8ffec url('https://sites.google.com/site/pgdesec2015wongjinfa/_/rsrc/1440581589898/config/roxas.jpg.1440581589750.jpg');
                min-height: 150px;
                padding: 30px 25px;
            }
            .ws-theme-body-inner {
                background-color: #000000;
            }
            .ws-theme-body-inner:before {
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 200px;
                background-color: #FFF;
            }
            .ws-theme-sidebar-inner {
                padding: 10px;
            }
            .ws-theme-sidebar .WikiActions {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            .ws-theme-sidebar .WikiActions > li {
                padding: 2px;
            }
            .ws-theme-sidebar .WikiCustomNav ol {
                padding-left: 16px;
            }
            .ws-theme-sidebar .WikiCustomNav ol.includePageList {
                padding-left: 0;
            }
            .ws-theme-sidebar .WikispacesNavbar {
                margin: 0 -10px;
                padding: 0 10px;
            }
            .ws-theme-sidebar .ws-theme-nav-edit {
                color: #666;
                text-align: center;
            }
            .ws-theme-sidebar .ws-theme-nav-edit a {
                color: inherit;
            }
        }
        /* End theme-specific styles */
    </style>
    <link rel="stylesheet" href="http://www.wikispaces.com/stylesheet/viewi/217420326D.gz.css" type="text/css">
    <link rel="stylesheet" href="http://www.wikispaces.com/s/gz/9jvvjv40-internal-bootstrap.css" type="text/css">
    <link rel="stylesheet" href="http://www.wikispaces.com/s/gz/vz033906-internal.css" type="text/css">
    <style type="text/css">
        .WikiControls {
            display: none;
        }
    </style>
    <script src="http://www.wikispaces.com/s/gz/9j22j87k-top.min.js" type="text/javascript"></script>

    <link href="https://my.setmore.com/css/setmorePopup.css" rel="stylesheet" type="text/css">
    
    <style type="text/css" id="js-fixed-header-a-style">
        .wiki a[name]:before {
            content: "\00A0";
            display: inline-block;
            visibility: hidden;
            width: 0;
            padding-top: 0px;
            margin-top: -0px;
        }
    </style>
    <script type="text/javascript" src="http://www.wikispaces.com/site/editorlibs/en_US/11kk95v9.gz.js"></script>
</head>

<body>
    <div id="js-fixed-header-offset" style="margin-top: 0px;">
        <header class="ws-theme-header" role="banner">
            <div class="ws-theme-container">
                <div class="ws-theme-header-inner">

                    <table class="WikiLogoTable WikiElement">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="http://wongjinfa.wikispaces.com/"><img src="http://www.wikispaces.com/i/logo-shadow-40.png" alt="" width="40" height="40"></a>
                                </td>
                                <td class="WikiLogoName">
                                    <a href="http://wongjinfa.wikispaces.com/">wongjinfa</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </header>

        <div class="ws-theme-body">
            <div class="ws-theme-container">
                <div class="ws-theme-body-inner">
                    <nav class="ws-theme-sidebar" role="navigation">
                        <div class="ws-theme-sidebar-inner">
                            <div class="ws-theme-menu">
                                <div class="ws-theme-menu-inner">
                                    <ul class="WikiActions WikiElement WikiControls">
                                        <li id="WikiActionHome">
                                            <div><span class="WikiActionSupplemental" style="float: right;"></span><a href="http://wongjinfa.wikispaces.com/"><i class="fa fa-home fa-fw"></i></a><a href="http://wongjinfa.wikispaces.com/">Wiki Home</a></div>
                                        </li>
                                        <li id="WikiActionProjects">
                                            <div><span class="WikiActionSupplemental" style="float: right;"></span><img src="/i/c.gif" alt="" width="4" height="1"><a href="http://wongjinfa.wikispaces.com/project/list"><i class="fa fa-sitemap fa-fw"></i></a><a href="http://wongjinfa.wikispaces.com/project/list">Projects</a></div>
                                        </li>
                                        <li id="WikiActionChanges">
                                            <div><span class="WikiActionSupplemental" style="float: right;"></span><a href="/wiki/changes"><i class="fa fa-clock-o fa-fw"></i></a><a href="/wiki/changes">Recent Changes</a></div>
                                        </li>
                                        <li id="WikiActionPagesAndFiles">
                                            <div><span class="WikiActionSupplemental" style="float: right;"></span><a href="/space/content"><i class="fa fa-file-text-o fa-fw"></i></a><a href="/space/content">Pages and Files</a></div>
                                        </li>
                                        <li id="WikiActionMembers">
                                            <div class="js-member-link"><span class="WikiActionSupplemental" style="float: right;"></span><a href="/wiki/members"><i class="fa fa-user fa-fw"></i></a><a href="/wiki/members">Members</a></div>
                                        </li>
                                    </ul>
                                    <form action="/search/view" method="post" class="WikiSearch WikiElement" role="search">
                                        <input type="text" class="form-control WikiSearchInput" name="q" value="" placeholder="Search"> </form>
                                    <div class="WikiCustomNav WikiElement wiki"><span style="background-color: #000000;">_</span>
                                        <br>
                                        <br>
                                        <strong><span style="background-color: #000000; color: #ffffff;">2018 - Science 1C,1F,1G,1H</span></strong>
                                        <br>
                                        <ul class="quotelist">
                                            <li><a class="wiki_link" href="/General%20Science%202018">General Science</a></li>
                                            <li><a class="wiki_link" href="/Classification%202018">Classification of Life</a></li>
                                            <li><a class="wiki_link" href="/Cells%202018">Cells</a></li>
                                            <li><a class="wiki_link" href="/Factors%20Affecting%20Rate%20of%20Diffusion">Factors Affecting Diffusion</a></li>
                                            <li><a class="wiki_link" href="/2018%20Sec%201%20Lesson%20Slides">Lesson Slides</a></li>
                                        </ul>
                                        <br>
                                        <strong><span style="background-color: #000000; color: #ffffff;">2017 - Science 2B,2D,2G,2J </span></strong>
                                        <br>
                                        <ul class="quotelist">
                                            <li><a class="wiki_link" href="/Electricity%202017">Electricity</a></li>
                                            <li><a class="wiki_link" href="/Transport%20in%20Plants">Transport in Plants</a></li>
                                            <li><a class="wiki_link" href="https://wongjinfa.wikispaces.com/Reproduction%20in%20Humans">Reproduction in Humans</a></li>
                                            <li><a class="wiki_link" href="/2017%20Sec%202%20Lesson%20Slides">Lesson Slides</a></li>
                                        </ul>
                                        <br>
                                        <strong><span style="background-color: #000000; color: #ffffff;">2017 - Science 1B,1F,1J,1K</span></strong>
                                        <br>
                                        <ul class="quotelist">
                                            <li><a class="wiki_link" href="/General%20Science">General Science</a></li>
                                            <li><a class="wiki_link" href="/Classification%20of%20Life">Classification of Life</a></li>
                                            <li><a class="wiki_link" href="/Cells">Cells</a></li>
                                            <li><a class="wiki_link" href="/Movement%20of%20Substances">Movement of Substances</a></li>
                                            <li><a class="wiki_link" href="/Enzymes">Enzymes</a></li>
                                            <li><a class="wiki_link" href="/2017%20Sec%201%20Lesson%20Slides">Lesson Slides</a></li>
                                            <li>
                                                <br>
                                            </li>
                                        </ul><strong><span style="background-color: #000000; color: #ffffff;">2016 - Science 2F, 2H &amp; 2L</span></strong>
                                        <br>
                                        <ul class="quotelist">
                                            <li><a class="wiki_link" href="/Electricity">Electricity</a></li>
                                            <li><a class="wiki_link" href="/Transport%20in%20Plants">Transport in Plants</a></li>
                                            <li><a class="wiki_link" href="https://wongjinfa.wikispaces.com/Reproduction%20in%20Humans">Reproduction in Humans</a></li>
                                            <li><a class="wiki_link" href="/2016%20Lesson%20Slides">Lesson Slides</a></li>
                                            <li><a class="wiki_link" href="/Homework">Homework</a></li>
                                            <li><a class="wiki_link" href="/Questions">Questions</a></li>
                                            <li><a class="wiki_link" href="/Assessment">Assessment</a></li>
                                            <li>
                                                <br>
                                            </li>
                                        </ul><strong><span style="background-color: #000000; color: #ffffff;">2016 - Biology 4P &amp; 4R</span></strong>
                                        <br>
                                        <ul class="quotelist">
                                            <li><a class="wiki_link" href="/Ecology">Ecology</a></li>
                                            <li><a class="wiki_link" href="/Reproduction%20in%20Plants">Reproduction in Plants</a></li>
                                        </ul>
                                        <br>
                                        <span style="background-color: #000000; color: #ffffff;"><strong>RI Biodiversity</strong> </span>
                                        <br>
                                        <ul class="quotelist">
                                            <li><a class="wiki_link" href="https://ribiodiversity.wikispaces.com/home">RI Biodiversity</a></li>
                                        </ul>
                                        <br>
                                        <span style="background-color: #000000; color: #ffffff;"><strong>Other Science Topics</strong> </span>
                                        <br>
                                        <ul class="quotelist">
                                            <li><a class="wiki_link" href="/Periserma%20eumolpe">P. eumolpe</a></li>
                                            <li><a class="wiki_link" href="https://wongjinfa.wikispaces.com/Singapore%27s%20Biodiversity">Singapore's Biodiversity</a></li>
                                            <li><a class="wiki_link" href="/Animals%20at%20the%20Zoo">Animals at the Zoo</a></li>
                                        </ul>
                                        <br>
                                        <span style="background-color: #000000; color: #ffffff;"><strong>Other Links</strong> </span>
                                        <br>
                                        <ul class="quotelist">
                                            <li><a class="wiki_link_ext" href="https://zookeys.pensoft.net/articles.php?id=13675" rel="nofollow">Acletoxenus Research</a></li>
                                            <li><a class="wiki_link" href="/Excel%20Tricks">Excel Tricks</a></li>
                                            <li>
                                                <br>
                                            </li>
                                        </ul><span style="background-color: #000000; color: #ffffff;"><strong>Working Files</strong></span>
                                        <br>
                                        <ul class="quotelist">
                                            <li><a class="wiki_link" href="/Place%20holder">Place holder</a></li>
                                        </ul>
                                    </div>
                                    <div class="ws-theme-nav-edit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <main class="ws-theme-content" role="main">
                        <div class="ws-theme-content-inner">
                            <div class="contentBox">
                                <div class="innerContentBox" id="WikiContent">

                                    

                                    

                                    

                                    

                                    <div class="ws-menu-bar WikiControls WikispacesContent WikispacesBs3">

                                        <h1 class="pageTitle"><a href="/home">home</a></h1>
                                        <div class="btn-group pull-right">
                                            <span class="btn btn-default disabled tipme" title="" data-original-title="you do not have permission to edit this page"><i class="fa fa-pencil fa-fw"></i> Edit</span> <a class="btn btn-default tipme" title="" href="/home#discussion" data-original-title="no discussion posts"><i class="fa fa-comments fa-fw"></i> 0</a> <a class="btn btn-default tipme" title="" href="/page/history/home" data-original-title="view 80 revisions"><i class="fa fa-clock-o fa-fw"></i> 80</a> <a class="btn btn-default ws-btn-more dropdown-toggle tipme" title="" href="/page/menu/home" data-original-title="more options"><i class="icon-height-only fa-fw"></i>…</a>
                                            <ul class="ws-more-menu dropdown-menu dropdown-menu-right">
                                                <li class="dropdown"><a class=" ws-tag-dropdown-toggle" href="/page/tags/home"><span class="pull-right">0</span> <i class="fa fa-tag fa-fw"></i> Tags</a>
                                                    <div class="dropdown-menu dropdown-menu-right ws-tag-dropdown-menu">

                                                        <form action="#" name="WikiTagForm" class="WikiTagForm">
                                                            <input type="hidden" name="wikispacesFormToken" value="7c3b47f6be0ad1ad23f746443a1917c84ae6eebb">
                                                            <input type="hidden" name="wikispacesFormToken" value="7c3b47f6be0ad1ad23f746443a1917c84ae6eebb">
                                                            <div class="WikiTagList">
                                                                <i class="fa fa-tag ws-action"></i>
                                                                <ul class="list-unstyled">
                                                                    <li>No tags</li>
                                                                </ul>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </li>
                                                <li class="divider"></li>
                                                <li class=""><a class=" WikispacesDialogLink" href="http://wongjinfa.wikispaces.com/wiki/addmonitor?monitorLink=page%3AHome"><i class="fa fa-eye fa-fw"></i> Notify</a>
                                                </li>
                                                <li class=""><a class=" WikispacesDialogLink" href="/page/rss/home"><i class="fa fa-rss fa-fw"></i> RSS</a>
                                                </li>
                                                <li class=""><a class="" href="/page/links/home"><i class="fa fa-link fa-fw"></i> Backlinks</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li class=""><a class="" href="/page/code/home"><i class="fa fa-code fa-fw"></i> Source</a>
                                                </li>
                                                <li class=""><a class="" href="/home?f=print"><i class="fa fa-print fa-fw"></i> Print</a>
                                                </li>
                                                <li class=""><a class="" href="/page/pdf/home"><i class="fa fa-cloud-download fa-fw"></i> Export (PDF)</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <textarea class="form-control" id="autosaveContent" style="display:none;" rows="1" cols="1"></textarea>
                                    <div id="autosavePrompt" style="display:none;"></div>

                                    <div class="commentContainer">
                                        <div class="commentSubject">
                                            <div class="wiki wikiPage" id="content_view">
                                                Dear Students,
                                                <br>
                                                <br> Welcome to Mr Wong's wikispaces.
                                                <br>
                                                <br> Click on the links on the navigation tab on the left side to go to the topic that you need.
                                                <br>
                                                <br> Please let Mr Wong know if you spot a mistake through <a class="wiki_link_ext" href="mailto:wong.jinfa@gmail.com" rel="nofollow">email</a> or the discussion thread below. Thank you!
                                                <br>
                                                <br> Some pages require you to login. If you need the username, its RI_student. Please ask Mr. Wong for the password.
                                                <br>
                                                <br> To check on your assignment that you have to hand up, please click here:
                                                <br>
                                                <ul>
                                                    <li><a class="wiki_link_ext" href="https://docs.google.com/spreadsheets/d/1BGgbhvRr73_7wT7MEdlEKRQnxPBrzR51QSthJO5O0OA/edit?usp=sharing" rel="nofollow">1C</a></li>
                                                    <li><a class="wiki_link_ext" href="https://docs.google.com/spreadsheets/d/1BGgbhvRr73_7wT7MEdlEKRQnxPBrzR51QSthJO5O0OA/edit#gid=1309457705" rel="nofollow">1F</a></li>
                                                    <li><a class="wiki_link_ext" href="https://docs.google.com/spreadsheets/d/1BGgbhvRr73_7wT7MEdlEKRQnxPBrzR51QSthJO5O0OA/edit#gid=568645917" rel="nofollow">1G</a></li>
                                                    <li><a class="wiki_link_ext" href="https://docs.google.com/spreadsheets/d/1BGgbhvRr73_7wT7MEdlEKRQnxPBrzR51QSthJO5O0OA/edit#gid=1729035243" rel="nofollow">1H</a></li>
                                                </ul>
                                                <br> You can message Mr Wong by Telegram as well:
                                                <!-- ws:start:WikiTextUrlRule:42:https://t.me/wongjinfa --><a class="wiki_link_ext" href="https://t.me/wongjinfa" rel="nofollow">https://t.me/wongjinfa</a>
                                                <!-- ws:end:WikiTextUrlRule:42 -->
                                                <br>
                                                <br> To book a consultation slot, click <a class="wiki_link_ext" href="http://wongjinfa.setmore.com" rel="nofollow">here</a> or the button below
                                                <br>
                                                <!-- ws:start:WikiTextMediaRule:1:&lt;img src=&quot;http://www.wikispaces.com/site/embedthumbnail/custom/28721060?h=0&amp;w=0&quot; class=&quot;WikiMedia WikiMediaCustom&quot; id=&quot;wikitext@@media@@type=&amp;quot;custom&amp;quot; key=&amp;quot;28721060&amp;quot;&quot; title=&quot;Custom Media&quot;/&gt; -->
                                                <script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js">
                                                </script>
                                                <a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/38b2e864-8017-4f46-8f88-d1465babfab5" name="Setmore_button_iframe" rel="nofollow"><img border="none" src="https://my.setmore.com/images/bookappt/SetMore-book-button.png" alt="Book an appointment with Science Consultation using SetMore"></a>
                                                <!-- ws:end:WikiTextMediaRule:1 -->
                                                <br>
                                                <br>
                                                <!-- ws:start:WikiTextMediaRule:2:&lt;img src=&quot;http://www.wikispaces.com/site/embedthumbnail/custom/28668726?h=0&amp;w=0&quot; class=&quot;WikiMedia WikiMediaCustom&quot; id=&quot;wikitext@@media@@type=&amp;quot;custom&amp;quot; key=&amp;quot;28668726&amp;quot;&quot; title=&quot;Custom Media&quot;/&gt; -->
                                                <a rel="nofollow" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"></a>
                                                <br> All the content in this wikispace (excluding embedded media) is licensed under a <a rel="nofollow" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>. Please attribute the work to Wong Jinfa.
                                                <!-- ws:end:WikiTextMediaRule:2 -->
                                                <br>
                                                <br>
                                                
                                                <!-- ws:end:WikiTextRssRule:00 -->
                                                <br>
                                                <br>
                                                <!-- ws:start:WikiTextMediaRule:3:&lt;img src=&quot;http://www.wikispaces.com/site/embedthumbnail/custom/28827202?h=0&amp;w=0&quot; class=&quot;WikiMedia WikiMediaCustom&quot; id=&quot;wikitext@@media@@type=&amp;quot;custom&amp;quot; key=&amp;quot;28827202&amp;quot;&quot; title=&quot;Custom Media&quot;/&gt; -->
                                                
                                                
                                            </div>

                                            <div id="pageEditor" class="editorWrapper editorLayer">
                                                <iframe id="target_editor" name="target_editor" src="/s/blank.html" style="width:0px;height:0px;border:0"></iframe>
                                                <form action="/page/edit/home" method="post" class="editorForm" id="editorForm">
                                                    <input type="hidden" name="wikispacesFormToken" value="59401fda2fe7a693a5e4eb5eee6975b345f1ca9f">
                                                    <div class="mimw">
                                                        <input type="text" class="form-control" name="wikispaces_user_id" value="user-1520989862">
                                                    </div>
                                                    <div class="jowic">
                                                        <input type="text" class="form-control" name="goto" autocomplete="off">
                                                    </div>
                                                    <div class="jowic">
                                                        <input type="text" class="form-control" name="mode" autocomplete="off">
                                                    </div>
                                                    <div class="wsh">
                                                        <input type="text" class="form-control" name="version" autocomplete="off">
                                                    </div>
                                                    <div class="jovise">
                                                        <input type="text" class="form-control" name="pageComments" autocomplete="off">
                                                    </div>
                                                    <div class="jovise">
                                                        <input type="text" class="form-control" name="saveAndContinue" autocomplete="off">
                                                    </div>
                                                    <div class="movkp">
                                                        <input type="text" class="form-control" name="comment" autocomplete="off">
                                                    </div>
                                                    <div class="wsh">
                                                        <input type="text" class="form-control" name="commentsDisabled" autocomplete="off">
                                                    </div>
                                                    <div class="mimw">
                                                        <input type="text" class="form-control" name="contentPresent" autocomplete="off">
                                                    </div>
                                                    <div class="mimw">
                                                        <input type="text" class="form-control" name="editorCleanup" autocomplete="off">
                                                    </div>
                                                    <div class="wsh">
                                                        <input type="text" class="form-control" name="WikispacesEditorContent" autocomplete="off">
                                                    </div>
                                                    <input type="hidden" name="wikispacesASFormToken" value="c7989283b75033eb71ac32f98d864f8d6b40920c">
                                                    <input type="hidden" title="goto" name="b826a822537f7ec054fcbb8060af200dadde8f97" value="">
                                                    <input type="hidden" title="mode" name="9ffff1af01e96068f38a7197d62e233c23b52ec6" autocomplete="off" value="visual">
                                                    <input type="hidden" title="version" name="6128dedca31db4e8da9248d2ece715fdef2e29f7" autocomplete="off" value="624484445">
                                                    <input type="hidden" title="pageComments" name="34170c03fade6cc9e4631a5312771ebba826b4c8" autocomplete="off" value="">
                                                    <input type="hidden" title="saveAndContinue" name="fe176dd6b29b7d2f7d6de7f5c51514815453795e" value="0">
                                                    <input type="hidden" title="comment" name="95623401d6a134fcbaf4162f54a6308c4d28fa99" value="">
                                                    <input type="hidden" title="commentsDisabled" name="690f38a0375457b2280bf1eb4147d815f4c3aa83" autocomplete="off" value="">
                                                    <input type="hidden" title="contentPresent" name="e2ee24f3a29be7569f90c431becedbdf2f685d89" autocomplete="off" value="">
                                                    <input type="hidden" title="editorCleanup" name="2d070d8f51991e08142523979d2471e404219050" autocomplete="off" value="">

                                                    <textarea id="wsMainEditor" title="content" class="noContentHide" name="5f40dd38d00496e31f25e331d6c478f2bef8f6e5" style="width: 100%; position: absolute; top: -50000px; left: -50000px;" autocomplete="off"></textarea>

                                                    <noscript>
                                                        &lt;h2&gt;Javascript Required&lt;/h2&gt; &lt;p&gt;You need to enable Javascript in your browser to edit pages.&lt;/p&gt;
                                                    </noscript>

                                                </form>

                                                
                                            </div>

                                        </div>
                                        <div class="commentColumn WikispacesStream">
                                            <div class="WikispacesContent WikispacesBs3">
                                                <div class="commentList"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <script type="text/template" id="js-event-template">
                                        <small>
      <%- startDateShortFormat %>
      <a href="<%- ws.common.pathFor('event', 'view', id) %>" class="WikispacesDialogLink">
        <%- ws.common.truncate(title, 15) %>
      </a>
    </small>
                                    </script>

                                    

                                    <script type="text/template" id="js-stream-end-template">
                                        <div class="tc-timeline-block tc-end-block">
                                            <div class="tc-timeline-icon" style="margin-top: -10px;" />
                                            <div class="tc-timeline-box" style="visibility: hidden;">
                                                <p class="tc-box-title"></p>
                                            </div>
                                        </div>
                                    </script>

                                    <a name="discussion"></a>
                                    <div class="timeline WikispacesBs3 tc-timeline-embedded show-border">
                                        <div class="timeline-line"></div>
                                        <div id="js-share-list">
                                            <div class="spinner hidden"><i class="fa fa-spinner fa-spin"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="sentinel" style="clear:both"></div>
                        </div>
                    </main>
                </div>
            </div>
        </div>

        <footer class="ws-theme-footer" role="contentinfo">
            <div class="ws-theme-container">
                <div class="ws-theme-footer-inner">

                    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"></a>
                    <br>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License. Please attribute to Wong Jinfa.</a>
                    
                    
                </div>
            </div>
        </footer>

        <script type="text/template" id="dialog-template">
            <div class="modal fade" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                            <h4 class="modal-title"><%= header %></h4>
                        </div>
                        <div class="modal-body">
                            <%= body %>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div>
    <script src="http://www.wikispaces.com/s/gz/6q2vzzj4-common.min.js" type="text/javascript"></script>
    <script src="http://www.wikispaces.com/s/gz/40k60203-editorc.min.js" type="text/javascript"></script>
    <script src="http://www.wikispaces.com/s/gz/85k7018k-stream.min.js" type="text/javascript"></script>
    <script src="http://www.wikispaces.com/s/gz/91k8z207-contentbar.min.js" type="text/javascript"></script>
    <script src="http://www.wikispaces.com/s/gz/395j1vq7-component.stream-vo.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        <!--
        
        

        

        jQuery(document).ready(function() {
            ws.editor.canEdit = false;
            var editUrl = 'http://wongjinfa.wikispaces.com/page/edit/home?goto=http%3A%2F%2Fwongjinfa.wikispaces.com%2F';

            jQuery('#js-edit-from-template').change(function() {
                window.location = ws.common.addUriParams(editUrl, [
                    ['template', jQuery(this).val()]
                ]);
            });
        });

        jQuery(document).ready(function() {
            ws.editor.loadEditorLibs('http://www.wikispaces.com/site/editorlibs/en_US/11kk95v9.gz.js');
        });

        ws.editor.startEditor = function(moreCoreOptions, moreMainOptions) {
            ws.editor.canEdit = true;

            var coreOptions = {
                'content_css': ['http://www.wikispaces.com/stylesheet/editori/217420326D.gz.css']
            };

            // The stylesheet is passed in as a string, turn it into an array
            // Add bootstrap styles to the editor, if we are in a theme that has full screen bootstrap
            if (jQuery('body').is('.WikispacesBs3')) {
                coreOptions.content_css.push('http://www.wikispaces.com//s/internal-bootstrap-body.css');
            }

            var mainOptions = {
                'wssave_cancel_url': '/home',
                'wsimage_upload_url': 'http://wongjinfa.wikispaces.com/file/multiupload',
                'wsimage_max_file_size_mb': '50',
                'wsimage_page_view_group': ''
            };

            ws.editor.loadEditor(jQuery.extend(coreOptions, moreCoreOptions), jQuery.extend(mainOptions, moreMainOptions));
        };

        var wikispaces_page_version = '624484445';

        jQuery(document).ready(function() {
            ws.editor.enableButtons();
        });

        -->
    </script>
    <!-- w22 315 wki:188:238(5) dql:95:133(19) mem:2:15(46) mog:7:12(3) tot:315:315(1) -->

    <div class="autogrow-shadow" style="position: absolute; top: -10000px; left: -10000px; font-size: 14px; font-family: arial, helvetica, sans-serif; font-weight: 400; line-height: 20px; resize: none; width: 96px;"></div>
    
    <iframe style="display: none;"></iframe>
</body>

</html>